{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt tempore deleniti perferendis provident perspiciatis. Eum magni doloribus veniam minus expedita neque, minima ullam nam dolorem molestiae. Optio natus libero perspiciatis, veritatis dolor voluptates molestias odio impedit nobis totam dolores, delectus distinctio minus esse, sunt commodi deleniti assumenda molestiae in eius incidunt. Explicabo, vel. Optio accusantium quam voluptatibus laborum ex. Vero consequatur delectus accusamus eveniet perspiciatis itaque rerum laborum sit, cum corporis reiciendis quas harum tempore enim dolor, fugit soluta illum aperiam atque distinctio alias asperiores a corrupti! Aliquam fugiat rem maiores vero quis natus fuga voluptatem illo eum delectus.</p>
 
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup">
                    Signup
                </a>
            </div>
        </section>
    </main>
{% endblock %}

